*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-color:white
}

body{
    background-color: white;
}

.navigation{
    position: relative;
    /* float: right;   */
    top: 25px; 
    padding-right: 10px;
    z-index: 4;
}

.navigation{
    padding-top: 10%;
}

.navigation li{
    list-style: none;
    margin: 15px 0;
    z-index: 2;
}    

.navigation li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: 1.1em;
    transition: 0.25s;
    padding: 10px;
    padding-right: 0px;
    width: 100%;
    z-index: 2;
}

.navigation li a:hover{
    color: white;
    background-color: black;
    transition: ease-in-out 500ms;
    padding-right: 0px;
}

.navigation li a ion-icon{
    padding-right: 10px;
    font-size: 1.6em;
    margin-right: 15px;
}

.toggle{
    position: fixed;
    top: 0%;
    right: 0%;
    width: 40px;
    /* height: 40px; */
    /* float: right; */
}

.card{
    position: fixed;
    top: 0%;
    right: 0%;
    float: right;
    overflow: hidden;
    transition: height 1s ease-in-out;
    background-color: grey;
    height: 0vh;
    width: 100px;
    z-index: 2;
}

button{
    background-color: transparent;
    border: none;
}

button ion-icon:hover{
    background-color: black;
    color: white;
    transition: ease-in-out 500ms;
}

.toggle ion-icon{
    color: black;
    font-size: 3em;
    z-index: 3;
}



li.n{
    display: inline-block;
    padding: 10px;
}

li.n a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

li.n a:hover{
    background-color:black;
    color: white;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.title{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    color: black;
    font-size: 90px;
}

.subtitle{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle h1{
    color: black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: black;
}


.copy h1{
    color: black;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.copy{
    position: relative;
    top: 100%;
    left: 5%;
    transform: translate(-50%, -50%);
}

ul a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul a.menu{
    display: none;
}

@media screen and (max-width: 1101px) {
    .navigation li a{
        font-size: 10px;
    }
    .navigation li{
        padding: 1px;
        margin: 0px;
    }
    .title h1{
        font-size: 30px;
    }
    .title{
        top: 5%;
    }
    .title h1 img{
        position: relative;
        display:inline-block;
        vertical-align: middle;
        width: 300px;
    }
    .logo img{
        float: left;
        width: 100px;
        height: auto;
    }
    .subtitle img{
        height: 550px;
    }
    .subtitle{
        top: 50%;
    }
}



